<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <label class="connexion">Modifier compte Compte</label>
        <div class="col-4">
            <div class="form-group">
                <input type="text" formControlName="username" [value]="loginForm.value.username" class="form-control" />
            </div>

            <div class="form-group">


                <input type="text" formControlName="nom" [value]="loginForm.value.nom" class="form-control" />
            </div>

            <div class="form-group">
                <input type="text" formControlName="prenom" [value]="loginForm.value.prenom" class="form-control" />
            </div>


            <div>
                <div class="form-group ">

                    <input type="text " formControlName="AdresseClient " [value]="loginForm.value.AdresseClient" class=" form-control " />

                </div>
                <div class="form-group ">
                    <input type="text " formControlName="TelClient" [value]="loginForm.value.TelClient" class="form-control " />
                </div>

            </div>

        </div>
    </div>
    <button [disabled]="loading " class="login ">
    Modifier
    </button>


</form>
<form [formGroup]="userForm " (ngSubmit)="onSubmit() ">

    <div class="row ">
        <label class="connexion ">Modifier compte Compte</label>
        <div class="col-4 ">
            <div>
                <div class="form-group ">

                    <input type="password " formControlName=" oldPassword" [value]="userForm.value. oldPassword" class=" form-control " />

                </div>
                <div class="form-group ">

                    <input type=" password " formControlName="newPassword" [value]="userForm.value. newPassword" class="form-control " />
                </div>

            </div>

        </div>
    </div>
    <button [disabled]="loading " class="login ">
    Modifier
    </button>


</form>