.row {
    width: 700px;
    height: auto;
    margin-top: 50px;
    margin-left: 60px;
}

.col-4 {
    width: 300px;
    height: auto;
}

.login {
    background-color: rgb(57, 163, 233);
    align-content: center;
    color: white;
    width: 150px;
    margin-left: 65px;
}

.connexion {
    color: rgb(57, 163, 233);
}