<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <label class="connexion">Modifier compte Compte</label>
        <div class="col-4">
            <div class="form-group">
                <input type="text" formControlName="username" class="form-control" placeholder="Username" />
            </div>

            <div class=" form-group ">


                <input type="text " formControlName="nom" class="form-control" placeholder="Nom" />
            </div>

            <div class="form-group ">
                <input type="text " formControlName="prenom" class="form-control" placeholder="Prenom" />
            </div>


            <div>
                <div class="form-group ">

                    <input type="text " formControlName="AdresseClient" class=" form-control" placeholder="Adresse" />

                </div>
                <div class="form-group ">
                    <input type="text " formControlName="TelClient" class="form-control" placeholder="Tel" />
                </div>

            </div>

        </div>
    </div>
    <button [disabled]="loading " class="login ">
    Modifier
    </button>

</form> -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="row ">
        <label class="connexion ">Modifier compte Compte</label>
        <div class="col-4 ">

            <div class="form-group ">
                <input type="password" formControlName="oldPassword" class="form-control" />
            </div>
            <div class="form-group ">
                <input type="password" formControlName="newPassword" class="form-control" />
            </div>
        </div>
    </div>
    <button [disabled]="loading" class="login ">
    Modifier
    </button>


</form>