<div class="add-cmd">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 mx-auto my-5">
                <div class="info-contact " style="background-color: #fff; padding: 15px;">
                    <h2>Details du contact</h2>

                    <div class="mt-3 d-flex justify-content-between" *ngFor="let produit of produits;">
                        <div>Nom du roduit: <strong>{{produit.designation}}</strong> </div>
                        <div>Quantite: <strong>{{ produit.quantite}}</strong> </div>
                        <div>Prix: <strong>{{produit.prixunitaire * produit.quantite}}</strong> </div>
                    </div>
                    <div class="mt-3 d-flex justify-content-between">
                        <h2>Total: </h2>
                        <h2><strong> {{total}} </strong></h2>
                    </div>
                    <form [formGroup]="form">
                        <button type="submit" class="btn btn-ang" (click)="onUpload()">Valider la commande</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>