<div class="container">
    <div class="row" *ngFor="let produit of produits;">
        <div class="">
            <table class=" table table-bordered table-light ">
                <thead>
                    <tr>
                        <th class="col ">Nom produit:</th>
                        <th class="col ">Quantité</th>
                        <th class="col ">Prix</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{produit.designation}} </td>
                        <td>{{produit.quantite}}</td>
                        <td>{{produit.prixunitaire}}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    <h2>Total: </h2>
    <h2><strong> {{total}} </strong></h2>
    <form [formGroup]="form ">
        <button type="submit " class="btn btn-ang " (click)="onUpload() ">Valider la commande</button>
    </form>
</div>