<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-sm">
        <br>
        <h3 class="copyring">Copyring@jeeré</h3>

        <label for="textArea" class="message">Envoyer un message</label>
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <br>
        <br>
        <button type="submit" class="btn">Submit</button>


    </div>
    <div class="col-sm ">

        <h3 class="copyring">Liens externes</h3>
        <ul>
            <a href="https://www.jumia.sn/" class="mail">
                <li>www.jumia.sn</li>
            </a>
            <a href="https://www.amazon.fr/" class="mail">
                <li>www.amazon.fr</li>
            </a>
            <a href="https://www.expat-dakar.com" class="mail">
                <li>/www.expat-dakar.com"</li>
            </a>
            <a href="//www.alibaba.com/" class="mail">
                <li>https:/www.alibaba.com/</li>
            </a>

        </ul>

    </div>
    <div class="col-sm ">
        <br>

        <h3 class="copyring">Service Commercial :</h3>
        <p class="mail">Mail: pub@jeere.com</p>
        <p class="mail">Té: 77-623-63-27</p>
    </div>
</div>