<div class="container">
    <div class="row">
        <div class=col-12>
            <table class=" table table-bordered table-light ">
                <thead>
                    <tr>
                        <th class="col ">Date</th>
                        <th class="col ">Produit</th>
                        <th class="col ">Quantite</th>
                        <th class="col "> Prix</th>
                        <th class="col ">Etat</th>
                        <th class="col ">action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let commande of commandes;">
                        <td>{{commande.}}</td>
                        <td></td>
                        <td></td>
                        <td></td>



                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>